@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	  background-image: linear-gradient(to bottom, #270064, #16081D, #4D327A, #000000);
}


#Bootstrap {
	color: white;
	margin-top: 50px;
}

#hoe, #waarom, #wanneer {
	margin: 25px 0px;
}

#wie, #waarom {
	color: white;
}

#waarom-2{
	margin-top: 75px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	font-family: helvetica;
	font-weight: lighter;
}

h1 {
	margin-bottom: 25px;
	font-family: oswald;
	font-weight: lighter;
	font-size: 48px;
	color: white;
}

h4 {
	font-family: oswald;
	color: red;
}

.card {
	height: 150px;
	padding: 10px;
	margin: 5px 0px;
}

.media {
	background-color: white;
	border-radius: 15px;
	padding: 10px;
	margin: 10px 0px;
}

.laptop, .phone {
	margin-top: 75px;
}

.phone {
	margin-left: -30vw;
}

@media (min-width: 576px) { 
	
	#Bootstrap {
		margin-top: 125px;
	}

	#hoe, #wanneer, #waarom {
		margin:25px 0px 125px 0px
	}
}

@media (min-width: 996px) {
	.pijl1 {
		margin-top: -50px;
	}
	
	.card {
		height: 250px;
	}
	
		
	#waarom-2{
		margin-top: 0px;
	}
	
	.laptop, .phone{
	margin-top: 0px;
}
	
	.phone {
		margin-left: 0px;
	}
	

}

@media (min-width: 1200px) {
	
	.pijl1 {
		margin-top: -150px
	}
}


